<h1 style="text-align: center;">HTML PAGE</h1>
<app-data (customEvent)="DataGet($event)" [updatePerId]="ParticularIDValue"></app-data>
<table border="2">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Update item</th>
    </tr>
    <tr *ngFor="let data of gettingData">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.password}}</td>
        <td><button (click)="UpdateItem(data)">Updated Item</button></td>
    </tr>
</table>
<router-outlet></router-outlet>